@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erreur.</h1>
<h2>Vous etes déjà connecté</h2>
<br />

@Html.ActionLink("Retour index", "Index", "Home", null, new { @class = "btn btn-primary" })

