
@{
	ViewBag.Title = "Contact";
}

<div class="container">
	<div class="jumbotron jumbotron-sm mabellediv" >
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<h1 class="h2" style="margin-top:-2%">
					Contact
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="container mabellediv">
	<div class="row">
		<div class="col-sm-6">			
				<h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Adresse:</h3>
				<p style="margin-top:6%;line-height:35%">Namur/Belgique</p>
				<br />
				<br />
				<h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail :</h3>
				<p style="margin-top:6%;line-height:35%">info@MaximusPop.com</p>
				<br />
				<br />
				<h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Pdg; :</h3>
				<p style="margin-top:6%;line-height:35%"> MAX PUISSANT</p>
				<br />
				<br />
				<h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Notre Site:</h3>
				<p style="margin-top:6%;line-height:35%"><a href="MaximusPOP.com/Home">MaximusPOP.com/Home</a></p>			
		</div>
		<div class="col-sm-6">
			
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.2142132353765!2d4.869012415947006!3d50.45573559486468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1990afddf0419%3A0x4ef3b252ff6e5f04!2sRue+de+Dave+24%2C+5100+Namur!5e0!3m2!1sfr!2sbe!4v1505914930660" width="565" height="430" frameborder="0" style="border:0" allowfullscreen class="opacite"></iframe>
		</div>
	</div>
</div>